body {
	margin: 0;
	padding: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #323232;

	background-color: #849d8f;
}

.site-nav {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #ffffff;
	background-color: #849d8f;
}


.btn-header  {
	font-size: 14px;
	line-height: 16px;
	font-weight: medium;
	color: #ffffff;
	background-color: #849d8f;

}

.site-nav,
.btn-header {
	list-style: none; /*можно ли было тут не по 2 классам списка отменить маркеры, а по классу меню? */
}
.site-nav a,
.btn-header a{
	color: #ffffff;
}
.site-nav a:hover,
.site-nav a:focus {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #323232;
	background-color: #f8f7f4;

}
li .modal {
	display: none;
}
li:hover .modal {
	display: block;
}

.modal-catalog {
	list-style: none;

}
.modal-catalog a{
	text-decoration: none;
}
.modal-catalog a:hover,
.modal-catalog a:focus {
	font-size: 14px;
	line-height: 16px;
	font-weight: regular;
	color: #323232;
	background-color: #fbded7;
}

.modal-catalog a:active {
	font-size: 14px;
	line-height: 16px;
	font-weight: regular;
	color: #323232;
	background-color: #f6b5a5;
}


.btn-header a:hover,
.btn-header a:focus {
	font-size: 14px;
	line-height: 16px;
	font-weight: medium;
	color: #323232;
	background-color: #f8f7f4;
}
.button {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #fefefe;
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    border: none;
}
.button:hover,
.button:focus {
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
    
}
.button:active {
	background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
    
}
.link-modal {
	font-size: 13px;
	line-height: 24px;
	font-weight: regular;
	color: #323232;
}
/*Ссылки меняют цвет при наведении, должны быть по-умолчанию при открытом окне такого цвета. не понял где пошло не так*/
.time-phone .time {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #ffffff;
	background-color: #849d8f;
}
.time-phone .phone {
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	color: #ffffff;
	background-color: #849d8f;

}
/*Положение текста не на этом этапе? в частности .тайм и .фон*/


/*Что не так со слайдером, кроме того что он не слайдер. текст слипается почему-то. Надо ли было кнопку-ссылку градиентом сейчас дедать?*/
.slider {
	text-align: center;
}
.slide:nth-child(1) {
	font-size: 60px;
	line-height: 60,35px;
	font-weight: bold;
	color: #ffffff;
	background-color: #849d8f;
}
.slide:nth-child(2) {
	font-size: 60px;
	line-height: 60px;
	font-weight: bold;
	color: #ffffff;
	background-color: #8996a6;
}
.slide:nth-child(3) {
	font-size: 60px;
	line-height: 60px;
	font-weight: bold;
	color: #ffffff;
	background-color: #9d8b84;
}

.slide .btn { 
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-decoration: none;
    width: 278px;
    height: 63px;
 }
.slide .btn:hover,
.slide .btn:focus {
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
.slide .btn:active {
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}


.promo h2 { 
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    color: #ffffff;

}
.promo p {
  	font-size: 18px;
  	line-height: 22px;
  	font-weight: bold;
  	color: #ffffff;
}

  .promo-berry {
  	background-color: #b71e3c;
  	background-image: url("../img/raspberries.jpg");
  	background-repeat: no-repeat;
  	
}

  .promo-chocolate {
  	background-color: #43281b;
  	background-image: url("../img/chocolate.jpg");
  	background-repeat: no-repeat;
  	
}
  .promo .btn {
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: bold;
  	color: #ffffff;
  	text-decoration: none;
  	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); 
}
  .promo .btn:hover,
  .promo .btn:focus {
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}
  .promo .btn:active {
  	background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
/*-ховер фокус и актив что-то не очень заметны в промо бтн и слайд бтн. п.с. вроде сам нашёл. из фш копируется градиент без прозрачности. нужно в ргба поменять и высчитать самому ?*/
  /* фш не показывает размер
  .catalog .price {
  	font-size: 

  }

  .price span {
  	font-size: 
  }*/ 
.catalog ul {
  	list-style: none;
}

.catalog a {
  	font-size: 16px;
  	line-height: 22px;
  	font-weight: medium;
  	color: #ffffff;
  	background-color: #849d8f;
}
/* Тут вопрос по ссылкам. в стайлгайде параметры неактивной ссылки 16- размер шрифта, 18- высота. по этим параметрам не подходят вроде как ни ссылки в каталоге, ни ссылки в футере. к каким ссылкам относится раздел в стайлгайде, какого размера их делать.
ещё вопрос по ссылкам - подчёркивание. андерлайн не подходит. или его как-то ещё стилизовать можно? 
.catalog a:hover,
.catalog a:focus,
.catalog a:active {
}
*/

  .hit-item {
  	background-image: url(../img/hit.svg);
  	background-repeat: no-repeat;
}

  .about-us {
  	background-color: #e7d6b0;
  	background-image: url(../img/wafer.jpg);
  	background-repeat: no-repeat;
  	
}
  .about-us ul{
  	list-style: none;
}
  .about-us h2 {
  	font-size: 24px;
  	line-height: 30px;
  	font-weight: medium;
  	color: #323232; 
   
} 
 .about-us li {
 	font-size: 16px;
 	line-height: 22px;
 	font-weight: regular;
 	color: #323232;
 	
 }
 .blog {
 	background-color: #ffffff;
 	background-image: url("../img/strawberry.jpg");
 	background-repeat: no-repeat;
 	
 }
 .blog b {
 	font-size: 16px;
 	line-height: 22px;
 	color: #323232; /* Першин говорил что после каждого  бэкграунда колор задавать, а нужен ли тут вообще бэкграунд или надо было писать только в общих классах, как .blog*/
 }
 .blog a {
 	font-size: 24px;
 	line-height: 30px;
 	font-weight: bold;
 	color: #323232;
 }
 .sub {
 	font-size: 16px;
 	line-height: 22px;
 	color: #5a5a5a;
 	/*как фон сделать чтобы почтовый и сверху другой. в лекции говорили что это css как-то*/
 }
 .sub .btn {
 	font-size: 18px;
 	line-height: 24px;
 	font-weight: bold; 
 	color: #fefefe;
 	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border: none;
 }
 .sup .btn:hover,
 .sup .btn:focus  {
 	font-size: 18px;
 	line-height: 24px;
 	font-weight: bold; 
 	color: #fefefe;
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    
 }
 .sup .btn:active {
  	background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
  	
}
 .contacts {
 	font-size: 14px;
 	line-height: 20px;
 	font-weight: regular;
 	color: 323232;
 	background-color: #fefefe;
 }
 

 .contacts-bold {
 	font-size: 18px;
 	line-height: 24px;
 	font-weight: bold;
 	color: 323232;
 	background-color: #fefefe;
 }
 .contacts .btn {
 	font-size: 18px;
 	line-height: 24px;
 	font-weight: bold;
 	color: #fefefe;
 	text-decoration: none;
 	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
 	border: none;
 }

.contacts .btn:hover,
.contacts .btn:focus {
	font-size: 18px;
 	line-height: 24px;
 	font-weight: bold;
 	color: #fefefe;
 	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    
}
.contacts .btn:active {
	font-size: 18px;
 	line-height: 24px;
 	font-weight: bold;
 	color: #fefefe;
 	background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
  /*- если задаёшь свойство кнопке без активного состояния, например убираешь рамку или андерлайн - в активных состояниях это свойство не надо повторять, оно сохраняется?
  - нужно ли задавать кнопкам text-align:center или это потом*/
}
.footer-social ul{
 	list-style: none;
 }
.social-btn {
	color: #ffffff;
}
.info ul {
	list-style: none;
}
.info a:nth-child(1) {
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #849d8f;
}
.info a {
	font-size: 13px;
    line-height: 18px;
    font-weight: regular;
    color: #ffffff;
    background-color: #849d8f;
}
.copyright {
	font-size: 12px;
	line-height: 18px;
	font-weight: regular;
	color: #fefefe;
	background-color: #849d8f;
}
.copyright a{
	font-size: 12px;
	line-height: 18px;
	font-weight: regular;
	color: #fefefe;
	background-color: #849d8f;
}