html { 
	box-sizing: border-box;
	 }

*, *::before, *::after {
    box-sizing: inherit; 
}

body {
	margin: 0;
	padding: 0;
   
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;

	background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

.site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;

}
.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}
.site-wrapper::before {
	background-image: url("../img/slide-2.png");
}
.site-wrapper::after {
	background-image: url("../img/slide-3.png");
}




.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}




.btn-header  {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	background-color: transparent;

}

.site-nav,
.btn-header {
	list-style: none; 
}
.nav-item {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;
	background-color: transparent;
}
.nav-item:nth-child(1){
    text-decoration: underline;
}
.nav-item:hover,
.nav-item:focus {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #323232;
	background-color: #f7f6f3;
	text-decoration: none;
	

}
.nav-item:active {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #323232;
	background-color: #f7f6f3;
	box-shadow: inset 0px 2px 1px 0px #696969; 


}
.nav-item-active {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;
	background-color: #d07058;

}


.modal-window .modal-catalog {
	display: none;
}
.modal-window:hover .modal-catalog {
	display: block;
}

.site-nav > li {
	position: relative;
}
.modal-catalog {
	list-style: none;
	background-color: #f8f7f4;
	position: absolute;
	width: 143px;
	height: 171px;
	top: 37px;
	left: -7px;
	border-radius: 5px;
	

}
.modal-catalog a{
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
	background-color: #f8f7f4;
	text-decoration: none;

}

.modal-catalog a:hover,
.modal-catalog a:focus {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
	background-color: #fbded7;
}

.modal-catalog a:active {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
	background-color: #f6b5a5;
}

.modal-catalog .new,
.modal-catalog .new:hover,
.modal-catalog .new:focus,
.modal-catalog .new:active {
	
	font-weight: 700;
	
}
.header-link {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	background-color: rgba( 248,247,244, 0.2);
	
	text-decoration: none;
}

.header-link:hover,
.header-link:focus {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #323232;
	background-color: #f8f7f4;
}
.modal-window .modal-search {
	display: none;
}
/*.modal-window:hover .modal-search {
	display: block;

}*/

.form-input,
.form-textarea {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #323232;
}
.form-input::placeholder {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
}
.form-textarea::placeholder {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
}

.button {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #fefefe;
    background-image: linear-gradient( to bottom, rgb(231,74,53), rgb(242,104,67));
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    border: none;
}
.button:hover,
.button:focus {
    background-image: linear-gradient( to bottom, rgb(231,74,53), rgb(242,104,67));
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
    
}
.button:active {
	background-image: linear-gradient( to bottom, rgb(242,104,67), rgb(231,74,53));
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
    
}
.modal-window .modal-login {
	display: none;
}
/*.modal-window:hover .modal-login {
	display: block;
}*/

.modal-login {
	background-color: #f8f7f4;
}

.login-form .link-modal {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #323232;
}
.login-form .link-modal:hover,
.login-form .link-modal:focus,
.login-form .link-modal:active {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #e84d37;
}
.time-phone .time {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #ffffff;
	background-color: transparent;
}
.time-phone .phone {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	background-color: transparent;

}


.slider {
	position: relative;
	padding-top: 300px;
	margin-bottom: 41px;
	text-align: center;
	color: #ffffff;
}
/* Спросить про отсчёт отступов слайдера. Не понимаю откуда считать чтобы правильно расположить*/
.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;

}
.slide {
	display: none;
}

.slide .text-slide {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 27px;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	
}


.slide .btn { 
	display: inline-block;
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	padding: 12px 42px;
    /*padding-right: 42px;
    padding-left: 42px;
    padding-top: 18px;
    padding-bottom: 16px;*/
    text-decoration: none;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background-image: linear-gradient(to bottom, rgb(231,74,53), rgb(242,104,67));
	border-radius: 50px;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
    
    
 }
.slide .btn:hover,
.slide .btn:focus {
    background-image: linear-gradient(to bottom, rgb(231,74,53), rgb(242,104,67));
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
.slide .btn:active {
    background-image: linear-gradient(to bottom, rgb(242,104,67), rgb(231,74,53));
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.slider-controls label {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: top;
    border-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.slider-controls {
	position: absolute;
	bottom: 60px;
	left: 0;
	font-size: 0;
}
#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slide-1.png");
}

#product-2:checked ~ .site-wrapper{
    background-color: #8996a6;
    background-image: url("../img/slide-2.png");
}

#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slide-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

.promo h2 { 
	margin: 0;
	margin-bottom: 25px;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    color: #ffffff;
    background-color: red;


}
.promo p {
	margin: 0;
	margin-bottom: 48px;
  	font-size: 18px;
  	line-height: 22px;
  	font-weight: 700;
  	color: #ffffff;
  	background-color: blue;


}

  .promo-berry {
  	background-color: #b71e3c;
  	background-image: url("../img/raspberries.png");
  	background-repeat: no-repeat;
  	border-radius: 15px;
  	
}

  .promo-chocolate {
  	background-color: #43281b;
  	background-image: url("../img/chocolate.png");
  	background-repeat: no-repeat;
  	border-radius: 15px;
  	
}
  .promo .btn {
  	padding: 10px 22px;
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: 700;
  	color: #ffffff;
  	text-decoration: none;
  	background-image: linear-gradient(to bottom, rgb(231,74,53), rgb(242,104,67));
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); 
  	border-radius: 50px;

  	align-self: flex-end;

  	

}
  .promo .btn:hover,
  .promo .btn:focus {
    background-image: linear-gradient(to bottom, rgb(231,74,53), rgb(242,104,67));
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}
  .promo .btn:active {
  	background-image: linear-gradient(to bottom, rgb(242,104,67), rgb(231,74,53));
  	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.catalog .price {
  	font-size: 45px;
  	line-height: 45px;
  	font-weight: 700;
  	color: #ffffff;


  }

.price span {
  	font-size: 35px;
  	line-height: 45px;
  	font-weight: 700;
  	color: #ffffff;
  }
.catalog ul {
  	list-style: none;
}

.catalog a {
  	font-size: 16px;
  	line-height: 22px;
  	font-weight: 500;
  	color: #ffffff;
  	background-color: transparent;
  	text-align: center;
}
.catalog a:hover,
.catalog a:focus,
.catalog a:active {
	color: #ffbc9e;
}

.catalog-item img{
	border-radius: 50%;
	margin-bottom: 17px;
}


.about-us {
  	background-color: #e7d6b0;
  	background-image: url(../img/wafer.jpg);
  	background-repeat: repeat;
  	
}
.about-us ul{
	margin: 0;
	padding: 0;
  	list-style: none;
  	margin-bottom: 27px;
}
.about-us h2 {
	margin: 0;
	margin-top: 32px;
	margin-bottom: 29px;
  	font-size: 24px;
  	line-height: 30px;
  	font-weight: 500;
  	color: #323232; 
   
} 
 .about-us li {

 	
 	font-size: 16px;
 	line-height: 22px;
 	font-weight: 400;
 	color: #323232;
 	
 }
 .blog {
 	background-color: #ffffff;
 	background-image: url("../img/strawberry.png");
 	background-repeat: no-repeat;
 	
 }
 .blog b {
 	font-size: 16px;
 	line-height: 22px;
 	color: #323232; 
 	margin-top: 27px;
 	margin-left: 20px;
 }
 .blog a {
 	width: 320px;
 	margin-top: 14px;
 	margin-bottom: 81px;
 	margin-left: 20px;
 	font-size: 24px;
 	line-height: 30px;
 	font-weight: 700;
 	color: #323232;
 }

 .sub {
 	font-size: 16px;
 	line-height: 22px;
 	color: #5a5a5a;
 	background-color: #f8f7f4;
 	padding: 33px 20px;
 	/*как фон сделать чтобы почтовый и сверху другой. в лекции говорили что это css как-то*/
 }

.sub p {
	margin: 0;
	padding: 0;
	padding-bottom: 37px;
}
 .sub .btn {
 	font-size: 18px;
 	line-height: 24px;
 	font-weight: 700; 
 	color: #fefefe;
 	background-image: linear-gradient(to bottom, rgb(231,74,53), rgb(242,104,67));
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border: none;
    padding: 9px 20px;
    border-radius: 50px;
 }
 .sup .btn:hover,
 .sup .btn:focus  {
 	font-size: 18px;
 	line-height: 24px;
 	font-weight: 700; 
 	color: #fefefe;
    background-image: linear-gradient(to bottom, rgb(231,74,53), rgb(242,104,67));
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    
 }
 .sup .btn:active {
  	background-image: linear-gradient(to bottom, rgb(242,104,67), rgb(231,74,53));
  	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
  	
}
 .contacts {
 	padding: 0;
 	margin: 0;
 	font-size: 14px;
 	line-height: 20px;
 	font-weight: 400;
 	color: 323232;
 	background-color: #fefefe;
 }
 

.contacts-bold,
.contacts-norm {
 	padding: 0;
 	margin: 0;
 }
 .contacts-bold {
 	font-size: 18px;
 	line-height: 24px;
 	font-weight: 700;
 	color: 323232;
 	background-color: #fefefe;
 }
 .contacts .btn {
 	font-size: 18px;
 	line-height: 24px;
 	font-weight: 700;
 	color: #fefefe;
 	text-decoration: none;
 	background-image: linear-gradient(to bottom, rgb(231,74,53), rgb(242,104,67));
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
 	border: none;
 
  	padding: 9px 28px;
  	border-radius: 50px;
  	align-self: center;
 }

.contacts .btn:hover,
.contacts .btn:focus {
	font-size: 18px;
 	line-height: 24px;
 	font-weight: 700;
 	color: #fefefe;
 	background-image: linear-gradient(to bottom, rgb(231,74,53), rgb(242,104,67));
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    
}
.contacts .btn:active {
	font-size: 18px;
 	line-height: 24px;
 	font-weight: 700;
 	color: #fefefe;
 	background-image: linear-gradient(to bottom, rgb(242,104,67), rgb(231,74,53));
  	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);

  
}
.footer-social ul{
 	list-style: none;
 }
.social-btn {
	color: #ffffff;
}
.info ul {
	list-style: none;
}
.for-shipper {
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    
}
.info a {
	font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
   
}
.info a:hover,
.info a:focus,
.info a:active,
.for-shipper:hover,
.for-shipper:focus,
.for-shipper:active,
.copyright a:hover,
.copyright a:focus
.copyright a:active {
	color: #ffbc9e;
}
.copyright {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #fefefe;
	
}
.copyright a{
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #fefefe;
	
}
.back-communication {
	background-color: #f8f7f4;
	display: none;
}
.back-communication p {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
}

.form-communication .btn {
 	font-size: 18px;
 	line-height: 24px;
 	font-weight: 700;
 	color: #fefefe;
 	text-decoration: none;
 	background-image: linear-gradient(to bottom, rgb(231,74,53), rgb(242,104,67));
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
 	border: none;
 }

.inner-page {
	color: #ffffff;
}
.nav-item-active {

}

.header-link-1 {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #323232;
	background-color: #f8f7f4;
	text-decoration: none;
}
.modal-window .modal-basket {
	display: none;
}

.modal-window:hover .modal-basket {
	display: block;
}

.modal-basket {
	font-size: 13px;
	line-height: 16px;
	font-weight: 500;
	color: #323232;
	background-color: #f8f7f4;
	

}
.basket span {
color: #999999
}
.basket a {
	font-size: 13px;
	line-height: 16px;
	font-weight: 500;
	color: #323232;
	text-decoration: none;
}
.basket a:hover,
.basket a:focus,
.basket a:active {
	color: #e84d37;
}
.summation {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;

}
.breadcrumbs {
	list-style: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #ffffff;
}
.breadcrumbs a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #ffffff;
	


}
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	color: #ffbc9e;
}
.page-title {
	font-style: 35px;
	list-style: 41px;
	font-weight: 700;
}

.label-filter {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}
.value-filter {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}
.filter fieldset {
	border: none;
}
.filter ul {
	list-style: none;
}
.select-hover {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #323232;
}/**/
.filter-btn {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	background-color: #9cb0a4;
	border: 2px solid #ffffff;
}
.filter-btn:hover,
.filter-btn:focus {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #323232;
	background-color: #fbfcfb;
}
.filter-btn: active {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #323232;
	background-color: #eaeaea;
	box-shadow: inset 0 2px 0 1px #696969;

}
.pagination-list {
	list-style: none;
}
.pagination-item  {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
}
.pagination-item:hover,
.pagination-item:focus {
	background-color: #9db1a5;
}
.pagination-item:active {
	color:  #323232;
	background-color: #ffffff;
}
.pagination-item-current span {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color:  #323232;
	background-color: #ffffff;

}
/*----------------------*/
.main-header {
	margin-bottom: 13px;
}
.header-flex-container {
	display: flex;
	padding-top: 9px;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.site-nav {
    display: flex;
    flex-wrap: wrap;
    width: 500px;

}

.btn-header {
	display: flex;
	justify-content: flex-end;
	width: 267px;
}

.site-nav .nav-item {
	display: block;
	padding: 7px 14px;
	border-radius: 50px;
}

.btn-header a {
    display: block;
    padding: 8px 16px;
    border-radius: 50px;
    margin-left: 10px;
}
.btn-header .icon-search {
	position: relative;
	border-radius: 50%;
	width: 32px;
	height: 32px;
}
.btn-header .icon-search::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 17px;
	height: 17px;
	background-image: url("../img/loupe.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.btn-header .icon-login {
	position: relative;
	padding-left: 43px;
	
}
.btn-header .icon-login::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
	height: 19px;
	background-image: url("../img/entrance.svg");
	background-position: 0 0;
	background-repeat: no-repeat;

}

.btn-header .icon-basket {
position: relative;
padding-left: 44px;

}
.btn-header .icon-basket:before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
	height: 20px;
	background-image: url("../img/basket.svg");

}

.time-phone {
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 241px;
	

}
.logo {
	width: 154px;
	height: 64px;

}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
}


/*.slider {
	margin-bottom: : 41px;
}*/
.promo {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.promo-chocolate,
.promo-berry {
	width: 560px;
	height: 229px;
	padding: 20px;

}
.promo-berry {
	display: flex;
	flex-direction: column;
	

}
.promo-chocolate {
	display: flex;
	flex-direction: column;
}
.catalog ul {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	
}


.catalog-item {
	width: 267px;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	position: relative;
    
}
.catalog-item .price {
	position: absolute;
	left: 0;
	bottom: 70px;
}
.catalog-item .price::after {
    content: "";
    position: absolute;
    width: 31px;
    height: 36px;
    background-image: url("../img/ruble.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 81px;
    bottom: 6px;
    
}
.price span {
	display: inline-block;
	padding-left: 37px;
}

.hit-item::before {
	content: "";
	position: absolute;
	width: 61px;
	height: 61px;
	top: 0;
	left: 0;
	background-image: url("../img/hit.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.about-us {
	
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	border-radius: 15px;
	height: 308px;
}

/*.about-us ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.about-us li {
	height: 55px;
	width: 539px;
}
*/
.blog-sub {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.blog {
	width: 560px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 15px;


}
.sub {
	width: 560px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	/*justify-content: space-around;*/
}

.map-contacts {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 430px;
	

}
.map img {
	position: absolute;
	left: 0;
	top: 0;

}





.position-container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
.contacts {
	display: flex;
	flex-direction: column;
	width: 302px;
	position: absolute;
	right: 27px;
	top: 62px;
	border-radius: 15px;
	padding: 31px 20px;
}

.main-footer {

	display: flex;
	justify-content: space-between;
	margin-top: 18px;
	padding-bottom: 30px;
}
.footer-social ul,
.info ul {
	padding: 0;
	margin: 0;
}
.footer-social {
	width: 267px;
}
.info {
	width: 360px;
}
.copyright {
	width: 267px;
}

/*----------*/
.breadcrumbs {
	margin-bottom: 17px;
}
.page-title {
	margin-bottom: 35px;
}

.filter {
	width: 861px;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	
}

.inner-page .main-footer {
	margin-top: 48px;
}

.footer-social ul {
	display: flex;
}
.social-btn {
	/*display: inline-block;*/
	width: 32px;
	height: 32px;
	margin-right: 11px;
	border-radius: 50%;
}
.twitter {
	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.instagram {
	background-image: url("../img/instagram.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.facebook {
	background-image: url("../img/fb.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.vk {
	background-image: url("../img/vk.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

